.top
  
.login
  .login_form
    .login_div
      = form_tag(checkforcelogout_url) do
        %table{:width => "100%", :cellpadding => "6"}
          %tr
            %td{:width => "100"} 登陆账号
            %td= text_field_tag :login, "", :class => "input"
          %tr
            %td 密码
            %td= password_field_tag :password, "", :class => "input"
          %tr
            %td
            %td
              = submit_tag "申请注销登陆"
          - if flash[:error].present?
            %tr
              %td
              %td
                - if flash[:error].present?
                  .errorbox
                    = flash[:error].html_safe
