.banner
  .layout
    .title
      列表
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]
.layout
  .h20
    = nbsp
  .widebox.left
    %table.styled
      %thead
        %tr
          %th{:width => "30%"}
            登录账号
          %th{:width => "30%"}
            名称
          %th{:width => "20%"}
            创建日期
          %th{:width => "20%"}
            管理
      %tbody
        - for user in @users
          %tr
            %td
              = link_to user.login, ezadmin_user_url(user)
            %td
              = user.name
            %td
              = user.created_at.strftime("%Y-%m-%d")
            %td
              = link_to "编辑", edit_ezadmin_user_url(user)
              %span{:id => "online_#{user.id}"}
                = link_to "下线", kickout_ezadmin_user_url(user), :remote => true, :method => :post, :confirm => "点击确定继续" if user.online
      %tfoot
        %tr
          %td{:colspan => 4}
            = will_paginate @users, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
          
  .siderbox.right
    = link_to raw("<strong>添加</strong>"), new_ezadmin_user_url, :class => "add-link"
  .clearfix
          