- content_for :header do
  :javascript
    $(document).ready(function() {
      setInterval(function() {
        window.location.reload();
      }, 60000);
    });

.top_blank
.content_body
  .content_title
    信息检索
  .title-hr
  .main_content
    .div_find
      %span
        选择检索范围：
      = link_to_unless (params[:day].nil? or params[:day] == "today"), "今天", find_user_url(@user, :day => "today")
      = nbsp(2)
      = link_to_unless params[:day] == "3days", "最近三天", find_user_url(@user, :day => "3days")
      = nbsp(2)
      = link_to_unless params[:day] == "7days", "最近七天", find_user_url(@user, :day => "7days")
      = nbsp(2)
      = link_to_unless params[:day] == "1month", "最近一个月", find_user_url(@user, :day => "1month")
      = nbsp(2)
      = link_to_unless params[:day] == "6month", "最近六个月", find_user_url(@user, :day => "6month")
      = nbsp(2)
      = link_to_unless params[:day] == "all", "全部", find_user_url(@user, :day => "all")
      
    .div_table
      %table.record{:width => "100%"}
        %tr
          %th{:width => "170"} 发布时间
          %th 标题
        - i = 0
        - for message in @messages
          %tr{:class => "#{'odd' if i ==1 }"}
            %td.time= message.created_at.strftime("%Y-%m-%d %H:%M")
            %td.title
              - if message.read?
                = link_to message.title.html_safe, message, :class => "read"
              - else
                %strong
                  = link_to message.title.html_safe, message
          - i += 1
          - i = 0 if i == 2

    .action
      = link_to "全部标记为已读", readall_user_messages_url, :method => :post, :confirm => "点击确定继续"
    = will_paginate @messages, :param_name => "page", :previous_label => "上一页", :next_label => "下一页"
    
          
= render :partial => "users/sider"
.clearfix
