- content_for :header do
  :javascript
    $(document).ready(function() {
      setInterval(function() {
        window.location.reload();
      }, 60000);
    });

.top_blank
.content_body
  .content_title
    信息列表
  .title-hr
  .main_content
    .div_table
      %table.record{:width => "100%"}
        %tr
          %th{:width => "170"} 发布时间
          %th 标题
          %tr
            %td.time= @message.created_at.strftime("%Y-%m-%d %H:%M")
            %td.title= @message.title.html_safe
          %tr.odd
            %td
            %td= @message.content.html_safe
          - if @ori_message and @ori_message.videocode.present?
            %tr
              %td 视频
              %td
                = link_to "", @ori_message.videocode, :style => "display:block;width:480px;height:400px", :id => "player"
                :javascript
                  flowplayer("player", "/player/flowplayer-3.2.7.swf",  {
                  	clip: {
                  		autoPlay: false, 
                  		autoBuffering: false
                  	}
                  });
          - if @ori_message and @ori_message.download_url.present?
            %tr
              %td 下载地址
              %td= link_to "请右键另存该文件", @ori_message.download_url, :target => "_blank"
          - if @ori_message and @ori_message.photos.present?
            - for photo in @ori_message.photos
              %tr
                %td
                  图集
                  %br
                  %span.grey
                    点击查看大图
                %td
                  = link_to image_tag(photo.file.url, :width => 200), photo.file.url, :target => "_blank", :title => "点击查看大图"
          
= render :partial => "users/sider"
.clearfix
