- content_for :header do
  :javascript
    function add_upload_file() {
      $('#upload_div').clone().insertBefore('.addmore');}

= form_for(message, :url=>(message.new_record? ? ezadmin_messages_url : ezadmin_message_url(message)), :html => {:multipart => true}) do |f|
  %table.styled
    %tbody
      %tr
        %td
          标题
        %td
          = f.text_field :title, :class => "input medium"
      %tr
        %td
          内容
        %td
          = f.cktext_area :content, :toolbar => 'Full', :width => 600, :height => 200, :input_html => { :value => message.content }
      %tr
        %td
          视频地址
        %td
          = f.text_field :videocode, :class => "input medium"
      %tr
        %td
          
        %td.grey
          请填写.flv等流媒体视频文件地址，如http://www.zhongshengyx.com/sample.flv
      %tr
        %td
          下载地址
        %td
          = f.text_field :download_url, :class => "input medium"
      %tr#upload_div
        %td 图集
        %td
          = file_field_tag "photos[file][]"
      %tr.addmore
        %td
        %td
          = link_to("增加上传", js_void, :onclick => "add_upload_file();")
      
      - if message.new_record? or !message.publish?
        %tr
          %td
          
          %td
            = f.check_box 'publish'
            = label_tag(:message_publish, "向会员发布该信息")
      %tr
        %td
          
        %td
          - unless message.new_record?
            .right
              = link_to "删除", ezadmin_message_url(message), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = submit_tag("确定", :class => "submit")
            
          
            
          