.banner
  .layout
    .title
      查看
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          标题
        %td
          = @message.title
      %tr
        %td
          内容
        %td
          = @message.content.html_safe
      %tr
        %td
          创建日期
        %td
          = @message.created_at.strftime("%Y-%m-%d")
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", ezadmin_message_url(@message), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_ezadmin_message_url(@message)
          
