.banner
  .layout
    .title
      查看
- unless flash[:notice].nil?
  .noticediv
    .layout
      = flash[:notice]

.layout
  %table.styled
    %tbody
      %tr
        %td{:width => "20%"}
          标题
        %td
          = @message.title
      %tr
        %td
          内容
        %td
          = simple_format(@message.content)
      - if @message.videocode.present?
        %tr
          %td
            视频
          %td
            = link_to "", @message.videocode, :style => "display:block;width:480px;height:400px", :id => "player"
            :javascript
              flowplayer("player", "/player/flowplayer-3.2.7.swf",  {
              	clip: {
              		autoPlay: false, 
              		autoBuffering: false
              	}
              });
      - if @message.download_url.present?
        %tr
          %td
            下载地址
          %td
            = link_to @message.download_url, @message.download_url, :target => "_blank"
      - if @message.photos.present?
        - for photo in @message.photos
          %tr
            %td
              图集
            %td
              .right
                = link_to "[删除]", del_photo_ezadmin_message_url(@message, :pid => photo.id), :method => :post, :confirm => "点击确定继续"
              = link_to image_tag(photo.file.url, :width => 200), photo.file.url, :target => "_blank"
      %tr
        %td
          创建日期
        %td
          = @message.created_at.strftime("%Y-%m-%d %H:%M")
    %tfoot
      %tr
        %td{:colspan => 2}
          .right
            = link_to "删除", ezadmin_message_url(@message), :title => "删除", :method => "delete", :confirm => "点击确定继续"
          = link_to "编辑", edit_ezadmin_message_url(@message)
          
