!!!
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %title= site_title
    %meta{'http-equiv' => "content-type", :content => "text/html; charset=UTF-8"}
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield :header
  %body
    .header
      .wrapper
        .login
          - if loggin?
            您好，
            = @user.name
            - if @user.has_unread?
              ，
              %span.green
                您有
                = @user.unread_count
                条未读信息
            [
            = link_to "退出", logout_url
            ]
          - else
            = link_to "登录", login_url
        - if flash[:notice].present?
          .notice
            = flash[:notice]
    .content
      .wrapper
        = yield
    .footer
      .wrapper
        &copy; 2012
        = site_title
- if @user and @user.has_unread?
  :plain
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="0" height="0">
      <param name="movie" value="/sound/pm.swf" />
      <param name="quality" value="high" />
      <embed src="/sound/pm.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="0" height="0"></embed>
    </object>
        